body {
  font-family: monospace
}

.header {
  text-align: center;
}

.navbar {
  display: flex;
  margin: 2% 5%;
}

.navbar-block {
  width: 50%;
  text-aligh: center;
  padding: 10x 10px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.jargon-list {
  margin: 20px;
}
